[data-theme="dark"] {
    --bgColor: #333;
    --containerBgColor: #616161;
    --textMainColor: #fff;
    --textSecondColor: #eee;
    --borderColor: #eee;
    --fontSizeBig: 14px;
    --fontSizeSmall: 12px;
    --borderRadius: 8px;
}
