[data-theme="light"] {
    --bgColor: #EEEFF3;
    --containerBgColor: #FFFFFF;
    --textMainColor: #707277;
    --textSecondColor: #999;
    --borderColor: #EEEFF3;
    --fontSizeBig: 14px;
    --fontSizeSmall: 12px;
    --borderRadius: 8px;
}