.fr-desc, .fr-header-desc{
  display: none;
}
.agent-setting .ant-col{
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 0;
}
.agent-setting .fr-obj-collapse{
  margin-bottom: 0;
}

.agent-setting .fr-obj-collapse .ant-collapse-header{
  padding: 4px  12px !important;
}