::v-deep .ant-layout-sider-zero-width-trigger{
    top:14px
}

.bubble-list{
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    /* background-color: greenyellow; */
}

.upload-box{
    height: 36px;
}
.upload-box .ant-upload ,.upload-box .ant-upload-list-item-container{
    width: 36px !important;
    height: 36px !important;
}

.clear-btn:hover{
    color:#1677ff;
}
.sender-box{
  background:var(--containerBgColor);
}